<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>

		<h1>Liste des posts</h1>

		{% for post in posts %}
			<a href="{{ path('post_show', {'id' : post.id }) }}" style="color : {{ post.tag.color }}">
				<h2>{{ post.title }}</h2>
			</a>
			<p>{{ post.content }}</p>
		{% endfor %}

	</body>
</html>
