<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>

		{% for message in app.flashes('notice') %}
			<div class="flash-notice">
				{{ message }}
			</div>
		{% endfor %}

		{% for tag in tags %}

			<a href="{{ path('tag_show', {'id' : tag.id } ) }}">
				<h2>{{ tag.name }}</h2>
			</a>
			<p>{{ tag.description }}</p>
		{% endfor %}
	</body>
</html>
